<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEFileService" />
        <binding name="BasicHttp_IService" />
        <binding name="BasicHttpBinding_ICRService">
          <security mode="TransportWithMessageCredential" />
        </binding>
        <binding name="BasicHttpBinding_INotificationGateway">
          <security mode="TransportWithMessageCredential" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IBillingService" transactionFlow="true">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://eai-test-payment.thiqah.sa/API/2.0/PaymentServices.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBillingService"
        contract="PaymentService.IBillingService" name="WSHttpBinding_IBillingService" />
      <endpoint address="http://172.20.46.6/mci/FileService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttp_IService" contract="AttachmentService.IAttachmentService"
        name="BasicHttp_IService" />
      <endpoint address="https://eai_dev001.mci.gov.sa/CRServices/1.1/CRService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICRService"
        contract="CrService.ICRService" name="BasicHttpBinding_ICRService" />
      <endpoint address="http://10.10.52.106:9998/production-release3/WServices/EFileService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEFileService"
        contract="eFileService.IEFileService" name="BasicHttpBinding_IEFileService" />
      <endpoint address="https://eai_dev001.mci.gov.sa/NotificationGateway/1.1/NotificationGateway.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotificationGateway"
        contract="NotificationGateway.INotificationGateway" name="BasicHttpBinding_INotificationGateway" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
