<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>
  <unity configSource="Unity.config" />
  <connectionStrings>
    <add name="CnnStr" connectionString="Data Source=172.20.249.167;Initial Catalog=URCP_05_Feb_18_Dev;persist security info=True;user id=sfda_drugs;password=sfda_drugs;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
     <!--<add name="CnnStr" connectionString="Data Source=.;Initial Catalog=URCP;Integrated Security=SSPI;persist security info=False;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ExceptionDevelopmentMode" value="true" />
    <add key="EncryptionKey" value="4BBD3A44513248490C657885C932A3D8637144DE0321FB97892BCBD436434C19" />
    <add key="EncryptionIV" value="FB4BF381051FB1B47AAF8AF296C3C150" />

    <add key="SystemUrl" value="http://www.google.com" />

    <!--Begin Mortgage Attachment-->
    <add key="MaxMortgageFileSize" value="50" />
    <add key="MaxOtherFilesCount" value="5" />
    <!--End Mortgage Attachment-->

    <!--Begin Number of rows in webgrid-->
    <add key="PageSize" value="10" />
    <!--End Number of rows in webgrid-->

    <!--Begin Attachment Service-->
    <add key="AttachmentService_ApplicationId" value="URCP" />
    <!--End Attachment Service-->

    <!--Begin CR Service-->
    <add key="CrService_UserName" value="URCP_test" />
    <add key="CrService_Password" value="test@123" />
    <add key="CrService_OwnerRelationsTypes" value="01" />
    <add key="CrService_ManagerRelationsTypes" value="10,20" />
    <!--End CR Service-->

    <!--Begin Payment Service-->
    <add key="InvoiceExpireDueDays" value="5" />
    <add key="PaymentService_UserName" value="MortgageContract_Test" />
    <add key="PaymentService_Password" value="MortgageContract_Test@123" />
    <add key="PaymentServiceCallback_UserName" value="MortgageContract_Test" />
    <add key="PaymentServiceCallback_Password" value="MortgageContract_Test@123" />
    <add key="PaymentServiceCode_RegisterMortgageContract" value="D0D8038C-E61D-4FBF-96D6-601502DB12E5" />
    <add key="PaymentServiceCode_MortgageInquiryByContractNumber" value="241DA99F-7A0C-422C-95BF-4DF234AD9EDC" />
    <add key="PaymentService_InvoiceDueDate" value="5" />
    <add key="PaymentService_SadadBillerName" value="خدمات أعمالي" />
    <add key="PaymentService_SadadBillerId" value="144" />
    <add key="PaymentService_VatRegistrationNumber" value="300784838500003" />
    <!--End Payment Service-->

    <!-- Begin eFile serivce-->
    <add key="eFile_ClientID" value="4CC812C7-BF3B-4046-A14E-5976DC71E358" />
    <add key="eFile_URL" value="http://10.10.52.106:9998/production-release3" />
    <add key="eFile_ClientSecret" value="secret12345" />
    <add key="eFileUser_DefaultPassword" value="P@ssw0rd" />
    <add key="eFileUserRoles" value="8,11" />
    <add key="eFileUser_CreateMortgageRole" value="21FB29A2-C55B-487F-8DB7-DC3B2337549A" />
    <add key="eFileUser_CreateMortgageInquiryRole" value="C6859DD6-E6E7-4103-8671-97F2CE057DA1" />
    <!-- End eFile serivce-->

    <!-- Begin Notification Service-->
    <add key="NotificationService_UserName" value="MCICollateral_Test" />
    <add key="NotificationService_Password" value="MCICollateral_Test@123" />
    <!-- End Notification Service-->

    <!--Begin Lookup Types-->
    <add key="LookupType.MortgageType" value="1" />
    <add key="LookupType.MortgageImplementationMethod" value="2" />
    <add key="LookupType.MortgagedAndOwnerRole" value="3" />
    <add key="LookupType.MortgagedAndOwnerCategory" value="4" />
    <add key="LookupType.MoneyStatus" value="8" />
    <add key="LookupType.MortgageMoneyType" value="9" />
    <add key="LookupType.FinancialSharesType" value="10" />
    <add key="LookupType.Banks" value="12" />
    <add key="LookupType.Currency" value="13" />
    <add key="LookupType.BankDepositType" value="11" />
    <add key="LookupType.ReverseMortgageMoneyType" value="14" />

    <add key="Lookup.Specific" value="2" />
    <add key="Lookup.CompanyType" value="9" />
    <add key="Lookup.NotAllowedWords" value="13" />

    <add key="Lookup.MortgageMoneyType.FinancialShares" value="17" />
    <add key="Lookup.MortgageMoneyType.CommercialEntity" value="18" />
    <add key="Lookup.MortgageMoneyType.BankAccounts" value="19" />
    <add key="Lookup.MortgageMoneyType.BankDeposits" value="20" />
    <add key="Lookup.MortgageMoneyType.OtherMoney" value="21" />

    <add key="Lookup.ReverseMortgageMoneyType.Airplane" value="200" />
    <add key="Lookup.ReverseMortgageMoneyType.Cash" value="201" />
    <add key="Lookup.ReverseMortgageMoneyType.Ships" value="202" />
    <add key="Lookup.ReverseMortgageMoneyType.Trademarks" value="203" />

    <add key="Lookup.MortgagedOwnerRole.Delegated" value="5" />
    <add key="Lookup.MortgagedOwnerRole.CompanyManager" value="6" />
    <add key="Lookup.MortgagedOwnerRole.CompanyOwner" value="7" />

    <add key="Lookup.MortgagedOwnerCategory.Individual" value="8" />
    <add key="Lookup.MortgagedOwnerCategory.Company" value="9" />

    <add key="Lookup.MortgagedType.General" value="1" />
    <add key="Lookup.MortgagedType.Specific" value="2" />
    <!--End Lookup Types-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.9.7.0" newVersion="5.9.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>