<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly  name="URCP"/>
  <container>
    <register type="URCP.RepositoryInterface.IUnitOfWork, URCP.RepositoryInterface"
             mapTo="URCP.SqlServerRepository.UnitOfWork, URCP.SqlServerRepository" />

    <register type="URCP.RepositoryInterface.IGenericRepository, URCP.RepositoryInterface"
              mapTo="URCP.SqlServerRepository.GenericRepository, URCP.SqlServerRepository" />

    <register type="URCP.RepositoryInterface.IIdentityUserRepository, URCP.RepositoryInterface"
           mapTo="URCP.SqlServerRepository.IdentityUserRepository, URCP.SqlServerRepository" />

    <register type="URCP.RepositoryInterface.IIdentityRoleRepository, URCP.RepositoryInterface"
              mapTo="URCP.SqlServerRepository.IdentityRoleRepository, URCP.SqlServerRepository" />

    <register type="URCP.RepositoryInterface.IGenericQueryRepository, URCP.RepositoryInterface"
              mapTo="URCP.SqlServerRepository.GenericQueryRepository, URCP.SqlServerRepository" />

    <register type="URCP.RepositoryInterface.IActiveDirectoryRepository, URCP.RepositoryInterface"
              mapTo="URCP.SqlServerRepository.ActiveDirectoryRepository, URCP.SqlServerRepository" />

    <register type="URCP.ServicesRepository.Interface.IeFileRepository, URCP.ServicesRepository.Interface"
              mapTo="URCP.ServicesRepository.eFileRepository, URCP.ServicesRepository" />

    <register type="URCP.ServicesRepository.Interface.IPaymentRepository, URCP.ServicesRepository.Interface"
              mapTo="URCP.ServicesRepository.PaymentRepository, URCP.ServicesRepository" />

    <register type="URCP.ServicesRepository.Interface.IAttachmentRepository, URCP.ServicesRepository.Interface"
              mapTo="URCP.ServicesRepository.AttachmentRepository, URCP.ServicesRepository" />

    <register type="URCP.ServicesRepository.Interface.ICrRepository, URCP.ServicesRepository.Interface"
             mapTo="URCP.ServicesRepository.CrRepository, URCP.ServicesRepository" />

    <register type="URCP.ServicesRepository.Interface.INotificationRepository, URCP.ServicesRepository.Interface"
             mapTo="URCP.ServicesRepository.NotificationRepository, URCP.ServicesRepository" />

    <register type="URCP.Domain.Interface.IRequestService, URCP.Domain.Interface" mapTo="URCP.Domain.RequestService, URCP.Domain" />
    <register type="URCP.Domain.Interface.IMortgageService, URCP.Domain.Interface" mapTo="URCP.Domain.MortgageService, URCP.Domain" />
    <register type="URCP.Domain.Interface.IReverseMortgageService, URCP.Domain.Interface" mapTo="URCP.Domain.ReverseMortgageService, URCP.Domain" />
    <register type="URCP.Domain.Interface.IMortgageImplementationAgentService, URCP.Domain.Interface" mapTo="URCP.Domain.MortgageImplementationAgentService, URCP.Domain" />
    <register type="URCP.Domain.Interface.IMortgageObjectionService, URCP.Domain.Interface" mapTo="URCP.Domain.MortgageObjectionService, URCP.Domain" />
    <register type="URCP.Domain.Interface.IMortgageInquiryService, URCP.Domain.Interface" mapTo="URCP.Domain.MortgageInquiryService, URCP.Domain" />
    <register type="URCP.Domain.Interface.IInvoiceService, URCP.Domain.Interface" mapTo="URCP.Domain.InvoiceService, URCP.Domain" />
    <register type="URCP.Domain.Interface.IUserService, URCP.Domain.Interface" mapTo="URCP.Domain.UserService, URCP.Domain" />
    <register type="URCP.Domain.Interface.IUserMorgageMoneyTypeService, URCP.Domain.Interface" mapTo="URCP.Domain.UserMorgageMoneyTypeService, URCP.Domain" />
    <register type="URCP.Domain.Interface.IRoleService, URCP.Domain.Interface" mapTo="URCP.Domain.RoleService, URCP.Domain" />
    <register type="URCP.Domain.ApplicationSignInManager, URCP.Domain" mapTo="URCP.Domain.ApplicationSignInManager, URCP.Domain" />
    <register type="URCP.Domain.Interface.IeFileService, URCP.Domain.Interface" mapTo="URCP.Domain.eFileService, URCP.Domain" />
    <register type="URCP.Domain.Interface.IPaymentService, URCP.Domain.Interface" mapTo="URCP.Domain.PaymentService, URCP.Domain" />
    <register type="URCP.Domain.Interface.ICountryService, URCP.Domain.Interface" mapTo="URCP.Domain.CountryService, URCP.Domain" />
    <register type="URCP.Domain.Interface.ILookupService, URCP.Domain.Interface" mapTo="URCP.Domain.LookupService, URCP.Domain" />
    <register type="URCP.Domain.Interface.IAttachmentService, URCP.Domain.Interface" mapTo="URCP.Domain.AttachmentService, URCP.Domain" />
    <register type="URCP.Domain.Interface.ISettingService, URCP.Domain.Interface" mapTo="URCP.Domain.SettingService, URCP.Domain" />
    <register type="URCP.Domain.Interface.ICrService, URCP.Domain.Interface" mapTo="URCP.Domain.CrService, URCP.Domain" />
    <register type="URCP.Domain.Interface.ISmsNotificationService, URCP.Domain.Interface" mapTo="URCP.Domain.SmsNotificationService, URCP.Domain" />
    <register type="URCP.Domain.Interface.IEmailNotificationService, URCP.Domain.Interface" mapTo="URCP.Domain.EmailNotificationService, URCP.Domain" />
  </container>
</unity>