<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>
  <unity configSource="Unity.config" />
  <connectionStrings>
    <add name="CnnStr" connectionString="Data Source=172.20.249.167;Initial Catalog=URCP_Dec_26_18_Dev;persist security info=True;user id=urcp;password=urcp;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" /> 
  </connectionStrings>
  <appSettings>
    <!--Begin Number of rows in webgrid-->
    <add key="PageSize" value="10" />
    <!--End Number of rows in webgrid-->
    <add key="SystemUrl" value="http://www.google.com" />

    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!--Callback credentials-->
    <add key="BillingSystemAuthorizedUserName" value="UrcpCallBack123" />
    <add key="BillingSystemAuthorizedPassword" value="P@ssw0rdURCP123" />
    <!--End Billing Service-->

    <!-- Begin Notification Service-->
    <add key="NotificationService_UserName" value="MCICollateral_Test" />
    <add key="NotificationService_Password" value="MCICollateral_Test@123" />
    <!-- End Notification Service-->

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" enableVersionHeader="false" />
    <authorization>
      <deny verbs="OPTIONS" users="*" />
    </authorization>
    <customErrors mode="Off" defaultRedirect="~/Account/Index">
      <error statusCode="401" redirect="~/Shared/Unauthorized" />
      <error statusCode="404" redirect="~/Shared/PageNotFound" />
    </customErrors>
    <trace enabled="false" localOnly="true" />
    <globalization culture="en-US" requestEncoding="utf-8" uiCulture="en-US" responseEncoding="utf-8" />
    <sessionState mode="InProc" timeout="60"></sessionState>
    <httpCookies httpOnlyCookies="true"></httpCookies>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_INotificationGateway" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
          <security mode="TransportWithMessageCredential" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="HttpsMCIBilling_BindingConfiguration" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="MCIBilling_Behavior" name="URCP.WebSvc.BillingCallback">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="HttpsMCIBilling_BindingConfiguration" contract="MCIBilling.ClientCallback.Core.ISadadBillCallback" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MCIBilling_Behavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="URCP.WebSvc.RoleAuthorizationManager,URCP.WebSvc"></serviceAuthorization>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="URCP.WebSvc.BillingAuthenticationValidator,URCP.WebSvc"></userNameAuthentication>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint address="https://eai_dev001.mci.gov.sa/NotificationGateway/1.1/NotificationGateway.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotificationGateway" contract="NotificationGateway.INotificationGateway" name="BasicHttpBinding_INotificationGateway" />
    </client>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.13.0" newVersion="5.8.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
