<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>
  <unity configSource="Unity.config" />
  <connectionStrings>
    <add name="CnnStr" connectionString="Data Source=172.20.249.167;Initial Catalog=URCP-22_Dec_18_QC;persist security info=True;user id=urcp;password=urcp;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="WinSvcAuthorizedUser" value="superadmin" />
    <add key="PageSize" value="10" />

    <!--Begin Payment Service-->
    <add key="PaymentService_UserName" value="MortgageContract_Test" />
    <add key="PaymentService_Password" value="MortgageContract_Test@123" />
    <add key="PaymentServiceCallback_UserName" value="MortgageContract_Test" />
    <add key="PaymentServiceCallback_Password" value="MortgageContract_Test@123" />
    <add key="PaymentServiceCode_RegisterMortgageContract" value="D0D8038C-E61D-4FBF-96D6-601502DB12E5" />
    <add key="PaymentServiceCode_MortgageInquiryByContractNumber" value="241DA99F-7A0C-422C-95BF-4DF234AD9EDC" />
    <add key="PaymentService_InvoiceDueDate" value="5" />
    <add key="PaymentService_SadadBillerName" value="خدماتي" />
    <add key="PaymentService_SadadBillerId" value="144" />
    <add key="PaymentService_VatRegistrationNumber" value="300784838500003" />
    <!--End Payment Service-->

    <!-- Begin Notification Service-->
    <add key="NotificationService_UserName" value="MCICollateral_Test" />
    <add key="NotificationService_Password" value="MCICollateral_Test@123" />
    <!-- End Notification Service-->
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_INotificationGateway" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
          <security mode="TransportWithMessageCredential" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IBillingService" transactionFlow="true">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://eai-test-payment.thiqah.sa/API/2.0/PaymentServices.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBillingService" contract="PaymentService.IBillingService" name="WSHttpBinding_IBillingService" />

      <endpoint address="https://eai_dev001.mci.gov.sa/NotificationGateway/1.1/NotificationGateway.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotificationGateway" contract="NotificationGateway.INotificationGateway" name="BasicHttpBinding_INotificationGateway" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>